@charset "utf-8";

.my{
    width: 350px;
    background-color: antiquewhite;
    padding: 20px;
    margin: 10px;
    border: 5px dotted black;
}
#my1{
    background-clip:border-box;
}
#my2{
    background-clip: padding-box;
}
#my3{
    background-clip: content-box;
}