@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li{
    list-style: none;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.wer{
    width: 100%;
    display: inline-block;    
    /* background-color: aquamarine; */
}
.top{
    height: 50px;
    float: right;
    display: inline-block;
}
.top a{
    line-height: 50px;
    margin: 0 10px;
}
.top .rogein{
    border: 1px solid none;
    background-color: rgb(33, 111, 255);
    padding: 8px 15px;
    color: white;
    border-radius: 8px;
}
.mid{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center
}
.mid-img{
    margin-top: 200px;
}
.mid-box{
    /* background-color: antiquewhite; */
    display: flex;
    border: 1px solid black;
    border-radius: 50px;

}
.mid-box-in{
    font-size: 18px;
    margin: 0 10px;
    height: 50px;
}
.mid-box span input{
    margin-top: 15px;
    width: 520px;
    /* height: 15px; */
    font-size: 18px;
    border: none;
    /* text-align: center; */
    /* float: left; */
    /* display: inline; */
}
.mid-battam{
    display: flex;
    width: 200px;
    height: 28px;
    margin: 25px;
    /* padding: ; */
    justify-content: space-between;
}