@charset "utf-8";
* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
.all {
  text-align: center;
  display: block;
  width: 800px;
  margin: 0 auto;
}
h2 {
  display: inline-block;
  width: 200px;
  margin: 30px 0;
  height: 50px;
  line-height: 50px;
  color: rgb(255, 255, 255);
  background-color: rgba(22, 28, 114, 0.966);
  border-radius: 20px;
}

ul {
  width: 500px; 
  padding: 20px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
  color: white;
  background-color: rgb(39, 20, 92);
}
li {
  display: inline-block; 
  width: 100px;
}

img{
  float: left;
  margin: 10px 10px;
  /* padding-top: 10px; */
}
.dog{
  margin: 30px;
  display: inline-block;
  margin: 10px;
  background-color: beige;

}
.box1{
  background-color: yellowgreen;
  float: left;
}
.box2{
  background-color: rgb(50, 205, 205);
  float: left;
}
.box3{
  background-color: rgb(109, 50, 205);
  float: right;
}
.box4{
  background-color: rgb(205, 81, 50);
  clear:left
}