@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.fa-phone{
    color: greenyellow;
    font-size: 30px;
}
.fa-bell{
    color: yellow;
    font-size: 35px;
}
.fa-android{
    color: green;
    font-size: 40px;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    background-color: antiquewhite;
    justify-content: space-between;
    line-height: 100px;
    padding: 0 15px;
}
.content{
    width: 800px;
    display: flex;
    flex-direction: column;
}
.wrap{
    display: flex;
    text-align: center;
}
.product{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.product-details{
    width: 300px;
    margin: 10px;
    text-align: center;
    background-color: antiquewhite;
}
